.breadcrumbs {
    .container();

    display: flex;
    gap: 12px;
    padding-top: 20px;

    @media @bw1170 {
        padding-top: 15px;
    }

    @media @bw768 {
        padding-top: 10px;
    }

    &__link {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-decoration: none;
        color: #7A7A7A;

        &::before {
            content: "/";
            display: block;
            position: absolute;
            top: 0;
            left: -8px;
            color: #7A7A7A;
        }

        &:first-child {
            &::before {
                content: "";
                display: none;
            }
        }

        @media @bw1340 {
            font-size: 14px;
            line-height: 19px;
        }

        @media @bw1170 {
            display: none;
        }
    }

    &__link-current {
        color: @black;
        cursor: default;
        pointer-events: none;
        &::before {
            color: @black;
        }
    }

    &__link--mob {
        display: none;
        padding: 10px;
        margin-left: -10px;
        font-size: 0;
        line-height: 0;

        @media @bw1170 {
            display: block;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}