.btn-svg {
    position: absolute;
    right: 19px;
    padding: 10px;
    border: 0;
    background-color: unset;
    font-size: 0;
    line-height: 0;
    color: @black;

    &:hover {
        color: @blue--hover;
    }

    &__favorite {
        top: 8px;
    }

    &__cart {
        bottom: 8px;
    }
}