.section-title {
    font-family: @font2;
    font-weight: 700;
    font-size: 84px;
    line-height: 87px;
    letter-spacing: 0.05em;
    margin: 0;

    @media @bw1170 {
        font-size: 60px;
        line-height: 62px;
    }

    @media @bw768 {
        font-size: 36px;
        line-height: 37px;
        text-align: center;
    }

    &--s {
        font-size: 60px;
        line-height: 62px;
    }
}