.article-preview {
    .container();

    position: relative;
    display: grid;
    grid-template-columns: 332px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "title articlecover"
    "text articlecover";
    column-gap: 42px;

    &__article-cover {
        margin: 0 0 0 auto;
        grid-area: articlecover;
    }

    &__title {
        margin-bottom: 40px;
        grid-area: title;
    }

    &__text-wrap {
        grid-area: text;
    }

    &__text {
        margin: 0 0 20px;
        max-width: 320px;
        width: 100%;
    }

    &__btn {
        position: absolute;
        bottom: 34%;
        left: 24.5%;
        max-width: 262px;
        width: 100%;
    }
}