.posters-slider {
    position: relative;
    margin-bottom: 200px;

    &_container {
        .container();
    }

    &__title {
        text-align: center;
        margin-bottom: 100px;
    }

    &__swiper {
        .container();
        overflow: visible;
    }

    &__frame {
        box-sizing: border-box;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        bottom: -38px;
        left: 0;
        right: 0;
        width: 540px;
        height: 540px;
        border: 6px solid @black;
        text-align: center;
        z-index: 99;
    }
}