.page-footer {
    &__spacer {
        display: flex;
        justify-content: center;
        padding: 19px 0;
        background-color: @red;
        margin: 0 0 60px;

        @media @bw1020 {
            padding: 13px 0;
            margin: 0 0 55px;
        }

        @media @bw768 {
            padding: 6px 0 5px;
        }
    }

    &__logo-icon {
        @media @bw1020 {
            width: 55px;
            height: 59px;
        }
    }

    &__container {
        .container();

        padding-bottom: 50px;

        @media @bw1020 {
            padding-bottom: 42px;
        }

        @media @bw768 {
            padding-bottom: 92px;
        }
    }

    &__subtitle {
        margin: 0 0 32px;
        font-weight: 600;

        @media @bw768 {
            margin: 0 0 24px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin: 0 0 55px;
        gap: 92px;

        @media @bw1020 {
            margin: 0 0 42px;
        }

        @media @bw768 {
            margin: 0 0 40px;
            gap: 24px;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 139px;
        max-width: 496px;
        width: 100%;

        @media @bw1020 {
            max-width: 463px;
            column-gap: 92px;
        }

        @media @bw768 {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media @bw1020 {
            gap: 24px;
        }

        @media @bw768 {
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__nav-link {
        @media @bw768 {
            font-size: 14px;
            line-height: 25px;
        }
    }

    &__right-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__bottom {
        display: flex;
        column-gap: 57px;
        row-gap: 20px;
        flex-wrap: wrap;

        @media @bw1660 {
            column-gap: 25px;
        }

        @media @bw1020 {
            column-gap: 39px;
        }

        @media @bw768 {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__documents-link {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;

        @media @bw768 {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__logo-picture {
        width: 74px;
        height: 82px;

        @media @bw1020 {
            width: 55px;
            height: 59px;
        }
    }
}