.poster-form {
    margin-bottom: 30px;

    &__price {
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 600;
    }

    &__radio {
        margin-bottom: 20px;
    }

    &__count-picker {
        margin-bottom: 50px;
    }

    &__form-footer {
        display: flex;
        align-items: center;
        gap: 19px;
    }

    &__btn {
        position: relative;
        right: unset;
    }

    &__submit {
        max-width: 263px;
        width: 100%;
    }
}